{% extends 'base.html' %}

{% block content %}
    {% include 'inc/error_message.html' %}
    <form action="" method="post">
        <div>{{ form.csrf_token }}</div>
        <div>{{ labels.LogiForm_Username }} : {{ form.username(class='form-control') }}</div>
        <div>{{ labels.LogiForm_Password }} : {{ form.password(class='form-control') }}</div>
        <br>
        <div>{{ labels.LogiForm_RememberMe }}{{ form.remember }}</div>
        <br>
        <div><input type="submit" value="ورود" class="btn btn-success"></div>
    </form>
{% endblock %}