{% extends 'base.html' %}

{% block content %}
    <a href="{{ url_for('all_ticket') }}" class="btn btn-primary">بازگشت</a>
    <h3>{{ ticket.title }}</h3>
    <hr>
    {% if current_user.change_status %}
        <form action="" method="POST">
            {{ s_form.csrf_token }}
            {{ labels.TicketDetails_Status }}:{{ s_form.status }}
            <input type="submit" value="تغییر وضعییت" class="btn btn-success">
        </form>
    {% endif %}
    {% if current_user.change_status %}
        <form action="" method="POST">
            {{ t_form.csrf_token }}
            {{ labels.TicketDetails_Refer }}:{{ t_form.refer }}
            <input type="submit" value="ارجاع" class="btn btn-success">
        </form>
    {% endif %}
    <hr>
    <small>{{ ticket.datetime }}</small>
    <br>
    <small>{{ ticket.owner.fullname }}</small>
    <hr>
    <h5>{{ ticket.content }}</h5>
    <hr>
    <br><br><br>
    <h3>Comments</h3>
    <hr>
    {% if current_user.add_comment %}
        <div>
            <form action="" method="POST">
                <div>{{ c_form.csrf_token }}</div>
                <div>{{ labels.TicketDetails_Comment }}:{{ c_form.comment(class='form-control') }}</div>
                <br>
                <input type="submit" value="ثبت" class="btn btn-primary">
            </form>
        </div>
    {% endif %}
    <div>
        {%for comment in comments%}
            <h4>{{ comment.owner.fullname }}</h4>
            <small>{{ comment.datetime }}</small>
            <hr>
            <h5>{{ comment.comment }}</h5>
            <br><br>
        {%endfor%}
    </div>


{% endblock %}