{% extends 'base.html' %}

{% block content %}
<h3>{{ current_user.fullname }}</h3>
<a href="{{ url_for('new_ticket') }}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
<br>
<table class="table table-striped table-light">
    <thead>
      <tr>
        <th scope="col">{{ labels.TicketsTable_Code }}</th>
        <th scope="col">{{ labels.TicketsTable_Title }}</th>
        <th scope="col">{{ labels.TicketsTable_Owner }}</th>
        <th scope="col">{{ labels.TicketsTable_Status }}</th>
        <th scope="col">{{ labels.TicketsTable_Priority }}</th>
        <th scope="col">{{ labels.TicketsTable_Technician }}</th>
        <th scope="col">{{ labels.TicketsTable_DateTime }}</th>
      </tr>
    </thead>
    <tbody>
      {% if tickets %}
        {% for ticket in tickets %}
            
                <tr>
                    <th scope="row">{{ ticket.id }}</th>
                    <td><a href="{{ url_for('show_ticket',ticket_id = ticket.id) }}">{{ ticket.title }}</a></td>
                    <td>{{ ticket.owner.fullname }}</td>
                    <td>{{ ticket.status }}</td>
                    <td>{{ ticket.priority }}</td>
                    <td>
                          
                            {% for tech in technicians %}
                              {% if ticket.technician_id ==  tech.id %}
                                {{ tech.fullname }}
                              {% endif %}
                            {% endfor %}

                    </td>
                    <td>{{ ticket.datetime }}</td>
                </tr>
            
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
{% endblock %} 