<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TicketMaster</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if current_user.is_authenticated %}
      {% if current_user.image %}
        <div>
          <a href="{{url_for('profile')}}"><img src="data:image/jpg;base64,{{ current_user.image }}" alt="Profile Photo" class="profile_image" style="border-radius: 50%; height: 50px; width: 50px" /></a>
        </div>
      {% endif %}
    {% endif %}
      <div class="navbar-nav">
        <a class="nav-link" href="{{url_for('index')}}">{{ labels.Navbar_Dashboard }}</a>
            {% if current_user.is_authenticated %}
            <a class="nav-link" href="{{url_for('all_ticket')}}">{{ labels.Navbar_Tickets }}</a>
            <a class="nav-link" href="{{url_for('new_ticket')}}">{{ labels.Navbar_NewTicket }}</a>
              {% if current_user.technician == True %}
                <a class="nav-link" href="{{url_for('refers')}}">{{ labels.Navbar_Refers }}</a>
              {% endif %}
            <a class="nav-link" href="{{url_for('profile')}}">{{ labels.Navbar_Profile }}</a>
            <a class="nav-link" href="{{url_for('new_user')}}">{{ labels.Navbar_UserManager }}</a>
            <a class="nav-link" href="{{url_for('logout')}}">{{ labels.Navbar_Logout }}</a>
            {% else %}
            <a class="nav-link" href="{{url_for('register')}}">{{ labels.Navbar_Signup }}</a>
            <a class="nav-link" href="{{url_for('login')}}">{{ labels.Navbar_Login }}</a>
            {% endif %}
            <a class="nav-link" href="{{url_for('telbook')}}">{{ labels.Navbar_TelBook }}</a>
      </div>
  </nav>
  